.questions-container {
  display: grid;
  contain: strict;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 1rem;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.line-break {
  width: 100%;
}

.questions-intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.5rem;
  font-style: italic;
  grid-row: span 1 / span 1;
  grid-row-start: 1;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

mark {
  align-items: center;
  display: flex;
  background-color: #2b2b2b;
  color: #fff;
  padding: 1rem;
  font-size: 3rem;
  font-style: normal;
  font-weight: bold;
  justify-content: center;
  max-height: fit-content;
  text-align: center;
}

.questions-main {
  align-items: center;
  display: flex;
  contain: inline-size;
  flex-direction: row;
  grid-row: span 1 / span 1;
  grid-row-start: 2;
  height: 100%;
  justify-content: center;
  min-width: 0;
  width: 100%;
}

.questions-slider {
  appearance: none;
  width: 50rem;
  height: 2rem;
  background-image: linear-gradient(to right, #1a3968, #660707);
  -webkit-appearance: none; /* Override default CSS styles */
}

.questions-slider::-webkit-slider-thumb {
  appearance: none;
  background: #fff;
  width: 0.5rem;
  height: 2rem;
  cursor: pointer;
  -webkit-appearance: none; /* Override default CSS styles */
}

.questions-buttonContainer {
  align-items: center;
  display: flex;
  grid-row: span 1 / span 1;
  grid-row-start: 3;
  justify-content: center;
}

.questions-button {
  background-color: #323232;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
  width: 8rem;
  max-height: fit-content;
  min-width: fit-content;
}

.questions-label {
  padding: 1rem;
  font-weight: bold;
  font-size: 2vw;
  text-wrap: wrap;
  text-align: center;
  overflow-wrap: break-word;
  width: 100%;
}

@media (max-width: 991px) {
  mark {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .questions-button {
    font-size: 1.5rem;
    padding: 0.75rem;
    width: 6rem;
    max-height: fit-content;
    min-width: fit-content;
  }

  .questions-intro {
    font-size: 1rem;
  }

  .questions-label {
    font-size: 1.75vh;
  }

  .questions-main {
    flex-direction: column;
    grid-row-start: 2;
  }

  .questions-slider {
    appearance: none;
    writing-mode: vertical-lr;
    direction: ltr;
    width: 2rem;
    height: 25rem;
    background-image: linear-gradient(to bottom, #1a3968, #660707);
    -webkit-appearance: none; /* Override default CSS styles */
  }
  .questions-slider::-webkit-slider-thumb {
    appearance: none;
    background: #fff;
    writing-mode: vertical-r;
    direction: rtl;
    width: 2rem;
    height: 0.5rem;
    cursor: pointer;
    -webkit-appearance: none; /* Override default CSS styles */
  }
}
